<ion-app>
  <ion-header>
    <ion-toolbar class="header" color="darkgrey">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title routerDirection="back" [routerLink]="['/']" >ZtudiePlan</ion-title>
      <ion-icon [routerLink]="['/admin']" slot="end" name="person"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-menu menuId="main-menu" contentId="main">
    <ion-content class="menu-container">
      <ion-list class="menu-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item class="menu-item" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon class="menu-icon" aria-hidden="true" [icon]="p.icon" ></ion-icon>
            <ion-label class="menu-label">{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
