<ion-card class="indholdCard">

  <ion-card-header>
    <ion-label>
      <h1>Velkommen, administrator!</h1>
      <h5>Log ind for at ændre begivenheder i Ztudieplan</h5>
    </ion-label>
  </ion-card-header>
  
  
  <ion-list class="logIndInfo">
    <ion-item>
      <ion-input class="logIndFarve" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Adgangskode">
    </ion-input>
  </ion-item>
</ion-list>

  <ion-card-content class="logIndButton">
    <ion-button [routerLink]="['/admin']">Log ind</ion-button>
  </ion-card-content>
</ion-card>