.indholdCard {
    margin-top: 200px;
    background: #222423;
  }

h1 {
    color: var(--ion-color-primary);
}

h5 {
    color: var(--ion-color-secondary);
  }

  .logIndButton {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .logIndInfo {
    margin: 0px 10px 0px 10px;
    --border-style: none;
  } 

  .logIndFarve::part(native) {
    background: #3f3f3f !important;
  } 