<ion-content>
  <div class="selctor-segment">
    <ion-segment [(ngModel)]="calendar.mode">
      <ion-segment-button value="day">DAG</ion-segment-button>
      <ion-segment-button value="week">UGE</ion-segment-button>
      <ion-segment-button value="month">MÅNED</ion-segment-button>
    </ion-segment>
  </div>
  <ion-row class="viewTitle">
    <ion-col size="3">
      <ion-button
        fill="clear"
        (click)="previousMonth()"
        aria-label="Tilbage Knap"
      >
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <h2>{{ viewTitle }}</h2>
    </ion-col>
    <ion-col size="3">
      <ion-button fill="clear" (click)="nextMonth()" aria-label="Frem Knap">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <div class="content-background">
    <ng-template #weekviewHeaderTemplate let-viewDate="viewDate">
      <div class="custom-day-header">{{ viewDate.dayHeader }}</div>
      <div class="week-notifications">
        <div>
          <ion-badge class="notifications-badge" color="danger">5</ion-badge
          ><ion-icon name="book"></ion-icon>
        </div>
        <div>
          <ion-badge class="notifications-badge" color="danger">5</ion-badge
          ><ion-icon name="newspaper"></ion-icon>
        </div>
        <div>
          <ion-badge class="notifications-badge" color="danger">5</ion-badge
          ><ion-icon name="people"></ion-icon>
        </div>
      </div>
    </ng-template>
    <ng-template #dayviewNormalEventTemplate let-displayEvent="displayEvent">
      <div class="calendar-event-inner">{{displayEvent.event.title}}</div>
    </ng-template>

    <calendar
      [calendarMode]="calendar.mode"
      [formatHourColumn]="calendar.formatHourColumn"
      [formatWeekTitle]="calendar.formatWeekTitle"
      [sliderOptions]="options"
      [currentDate]="calendar.currentDate"
      [eventSource]="eventSource"
      (onEventSelected)="onEventSelected($event)"
      [autoSelect]="calendar.mode ==='week' ? false : true"
      (onTimeSelected)="onTimeSelected($event)"
      (onTitleChanged)="onViewTitleChange($event)"
      [startingDayWeek]="1"
      [startingDayMonth]="1"
      [timeInterval]="60"
      [startHour]="8"
      [endHour]="18"
      [weekviewHeaderTemplate]="weekviewHeaderTemplate"
      [dayviewNormalEventTemplate]="dayviewNormalEventTemplate"
      [monthviewDisplayEventTemplate]="monthviewDisplayEventTemplate"
      [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
    >
    </calendar>
    <ion-card *ngIf="isDayView" class="daily-tasks" color="medium">
      <ion-card-header>
        <div class="icon-container">
          <ion-icon name="newspaper" color="light" size="medium"></ion-icon>
        </div>
        <div>
          <ion-card-title>Eksamensrapport</ion-card-title>
          <ion-card-subtitle>23. Oktober</ion-card-subtitle>
        </div>
      </ion-card-header>

      <ion-card-content>
        Skal indeholder en indledning, litteraturgennemgang, metodebeskrivelse,
        resultater og konklusion. Den skal afleveres som en PDF-fil senest kl.
        23.23.
      </ion-card-content>
    </ion-card>
  </div>

  <app-add-event modalId="2" (newItemEvent)="addItem($event)"></app-add-event>

  <ng-template
    #monthviewDisplayEventTemplate
    let-view="view"
    let-row="row"
    let-col="col"
  >
    {{view.dates[row*7+col].label}}
    <div class="indicator-container">
      <div
        class="event-indicator"
        *ngFor="let e of view.dates[row*7+col].events"
      ></div>
    </div>
  </ng-template>

  <ng-template
    #monthviewDefaultEventDetailTemplate
    let-showEventDetail="showEventDetail"
    let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel"
  >
    <ion-list
      class="event-detail-container"
      has-bouncing="false"
      *ngIf="showEventDetail"
      overflow-scroll="false"
    >
      <ion-item
        *ngFor="let event of selectedDate?.events"
        (click)="onEventSelected(event)"
      >
        <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn"
          >{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}
        </span>
        <span class="event-detail">
          | {{event.subject}} | {{event.description}}
        </span>
      </ion-item>
      <ion-item *ngIf="selectedDate?.events.length===0">
        <div class="no-events-label">{{noEventsLabel}}</div>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
